@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passero+One&family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Dancing+Script:wght@700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passero+One&family=Playwrite+BE+VLG:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 600vh;
    background-color: #f3edda;
    color: black;
    font-family: "Passero One", sans-serif;
    overflow-x: hidden;
}

.Main {
    width: 100%;
    height: 600vh;
}

.body {
    margin-top: 7%;
    height: 80vh;
}
.header{
    position: relative;
    width: 100%;
    z-index: 1;
}
.header_main {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    backdrop-filter: blur(10px);
    background-color: rgb(221, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 50px;
}

.header_main img {
    width: 4%;
    padding: 10px;
}

.header_comp1 {
    display: flex;
    width: 85%;
    /* margin-left: 10px; */
}

.heading {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    gap: 40px;
}

.heading h1 a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    transition: 0.3s ease-in-out;
}

.heading h1 a:hover {
    color: red;
}

/* Options Menu Styles */
.options {
    display: flex;
}

.options ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px;
}

.options a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

.options a:hover {
    color: red;
}


/* 
------------------------------------------------

*/
.frontpage {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 1%;
    height: 80vh;
    background-color: transparent;
    border-radius: 50px;
    overflow: hidden;
    color: black;
}

/* .frontpage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
} */

/* -------------------------------------------------- */

.frontpage>* {
    position: relative;
    z-index: 2;
}

/* .title {
    margin: 2%;
    perspective: 1000px;
} */


/* ----------------------------------------------------------------------------------------------------- */


.title {
    display: flex;
    flex-direction: column;
    /* border: #007bff 10px solid ; */
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}


.text {
    display: flex;
    flex-wrap: wrap;
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    gap: 5px;
    font-family: "Anton", sans-serif;
}

.text span {
    opacity: 0;
    animation: popIn 0.7s forwards;
    /* border: red solid 10px; */
}

.text:nth-child(1) span:nth-child(1) {
    animation-delay: 3s;
}

.text:nth-child(1) span:nth-child(2) {
    animation-delay: 3.1s;
}

.text:nth-child(1) span:nth-child(3) {
    animation-delay: 3.2s;
}

.text:nth-child(1) span:nth-child(4) {
    animation-delay: 3.3s;
}

.text:nth-child(1) span:nth-child(5) {
    animation-delay: 3.4s;
}

.text:nth-child(1) span:nth-child(6) {
    animation-delay: 3.5s;
}

.text:nth-child(2) span:nth-child(1) {
    animation-delay: 3.6s;
}

.text:nth-child(2) span:nth-child(2) {
    animation-delay: 3.7s;
}

.text:nth-child(2) span:nth-child(3) {
    animation-delay: 3.8s;
}

.text:nth-child(2) span:nth-child(4) {
    animation-delay: 3.9s;
}

.text:nth-child(2) span:nth-child(5) {
    animation-delay: 4s;
}

.text:nth-child(2) span:nth-child(6) {
    animation-delay: 4.1s;
}

.text:nth-child(2) span:nth-child(7) {
    animation-delay: 4.2s;
}

.text:nth-child(2) span:nth-child(8) {
    animation-delay: 4.3s;
}

.text:nth-child(2) span:nth-child(9) {
    animation-delay: 4.4s;
}

.text:nth-child(3) span:nth-child(1) {
    animation-delay: 4.5s;
}

.text:nth-child(3) span:nth-child(2) {
    animation-delay: 4.6s;
}

.text:nth-child(3) span:nth-child(3) {
    animation-delay: 4.7s;
}

.text:nth-child(3) span:nth-child(4) {
    animation-delay: 4.8s;
}

.text:nth-child(3) span:nth-child(5) {
    animation-delay: 4.9s;
}

.text:nth-child(3) span:nth-child(6) {
    animation-delay: 5s;
}

.text:nth-child(3) span:nth-child(7) {
    animation-delay: 5.1s;
}

.text:nth-child(3) span:nth-child(8) {
    animation-delay: 5.2s;
}

.text:nth-child(4) span:nth-child(1) {
    animation-delay: 5.3s;
}

.text:nth-child(4) span:nth-child(2) {
    animation-delay: 5.4s;
}

.text:nth-child(4) span:nth-child(3) {
    animation-delay: 5.5s;
}

.text:nth-child(4) span:nth-child(4) {
    animation-delay: 5.6s;
}

.text:nth-child(4) span:nth-child(5) {
    animation-delay: 5.7s;
}


@keyframes popIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    70% {
        opacity: 1;
        transform: translateY(120px);
    }

    100% {
        opacity: 1;
        transform: translateY(100px);
    }
}

/* ---------------------------------------------------------------------------------------------------- */

#text1 {
    color: #1d70ef;
}

#text2 {
    color: #d6432f;
}

#text3 {
    color: #06a35e;
}

#text4 {
    color: #ffb70a;
}

.description {
    /* border: 1px solid red; */
    margin-top: 6%;
    height: 200vh;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e5fad;
}

.des1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img1 img,
.img2 img {
    width: 80%;
}

.img1,
.img2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutgdsc {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0 0 50px grey;
    border-radius: 20px;
    padding: 20px;
    background-color: #000000;
    /* font-family: "Montserrat", sans-serif; */
}

.aboutgdsc h1 {
    font-size: 3rem;
}

.aboutgdsc p {
    font-size: 1.5rem;
}

.why {
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15%;
    /* font-family: "Edu AU VIC WA NT Hand", cursive; */
    font-weight: 800;
}

.whyheading {
    font-size: 3rem;
    color: white;
}

.goals {
    margin: 10px;
}

.goals span {
    font-size: 1.5rem;
}

.span1 {
    /* border: 1px solid #4285F4; */
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin: 10px;
    box-shadow: 0 0 30px #4285F4;
    background-color: #4285F4;
}

.span1 h2 {
    font-size: 2rem;
}

.span1 span {
    font-size: 1.5rem;
}

.span2 {
    /* border: 1px solid #DB4437; */
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 10px;
    box-shadow: 0 0 30px #DB4437;
    background-color: #DB4437;
}

.span2 h2 {
    font-size: 2rem;
}

.span2 span {
    font-size: 1.5rem;
}


.span3 {
    /* border: 1px solid #F4B400; */
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin: 10px;
    box-shadow: 0 0 30px #F4B400;
    background-color: #F4B400;
}

.span3 h2 {
    font-size: 2rem;
}

.span3 span {
    font-size: 1.5rem;
}

.span4 {
    /* border: 1px solid #0F9D58; */
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #0F9D58;
    margin: 10px;
    box-shadow: 0 0 30px #0F9D58;
}

.span4 h2 {
    font-size: 2rem;
}

.span4 span {
    font-size: 1.5rem;
}

.scrollimg {
    position: absolute;
    left: 0;
    width: 50%;
}

.scrollimg img {
    width: 10%;
}

.options button {
    position: relative;
    background-color: #007bff;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
}

.options button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, transparent 70%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    border-radius: 50%;
    z-index: 0;
}

.options button:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.options button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.options button span {
    position: relative;
    z-index: 1;
}

.events {
    border: 1px solid red;
    height: 50vh;
    background-color: #DB4437;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.eventheading {
    font-size: 3rem;
}

.button {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.button a {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    background-color: #FFA12B;
    display: block;
    position: relative;
    padding: 20px 40px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button a:active {
    top: 10px;
    background-color: #F78900;

    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.team {
    display: flex;
    flex-direction: column;
    background-color: #f3edda;
    color: black;
}

.teamheading {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.lead {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    /* box-shadow: 0 0 50px black; */
}

.leadimg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.leadimg img {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    filter: drop-shadow(10px 20px 4px black);
}

.hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(100%, 100%, 100%, 40%);
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.3s ease-in-out
}

.leadimg:hover .hidden {
    opacity: 1;
    transform: translateY(0);
}

.mem1img:hover .hidden,
.mem2img:hover .hidden,
.mem3img:hover .hidden,
.mem4img:hover .hidden {
    opacity: 1;
    transform: translateY(0);
}


.coreteam {
    display: flex;
    justify-content: space-evenly;
}

.mem1,
.mem2,
.mem3,
.mem4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 1.5%;
    transition: 0.3s ease-in-out;
    color: #f3edda;
    filter: drop-shadow(20px 20px 0px black);
}


.mem1 {
    font-size: 1.5rem;
    /* white-space: nowrap; */
    background-color: #387ef0;
    padding: 2%;
    border-radius: 20px;
}

.mem2 {
    font-size: 1.5rem;
    /* white-space: nowrap; */
    background-color: #DB4437;
    padding: 2%;
    border-radius: 20px;
}

.mem3 {
    font-size: 1.5rem;
    /* white-space: nowrap; */
    background-color: #04e478;
    padding: 2%;
    border-radius: 20px;
}

.mem4 {
    font-size: 1.5rem;
    /* white-space: nowrap; */
    background-color: #F4B400;
    padding: 2%;
    border-radius: 20px;
}

.mem1img,
.mem2img,
.mem3img,
.mem4img {
    display: flex;
    text-align: center;
    width: 100%;
    filter: drop-shadow(10px 20px 40px wheat);
}

.mem1:hover {
    box-shadow: 0 0 40px #004997;
    filter: drop-shadow(0px 0px 0 black);
}

.mem2:hover {
    box-shadow: 0 0 40px #921509;
    filter: drop-shadow(0px 0px 0 black);
}

.mem3:hover {
    box-shadow: 0 0 40px #0F9D58;
    filter: drop-shadow(0px 0px 0 black);
}

.mem4:hover {
    box-shadow: 0 0 40px #F4B400;
    filter: drop-shadow(0px 0px 0 black);
}

.mem1img img,
.mem2img img,
.mem3img img,
.mem4img img {
    width: 100%;
}

.footer {
    background: #F4B400;
    color: black;
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__addr,
.footer__nav,
.legal {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 1rem;
}

.footer__addr {
    text-align: center;
    margin-bottom: 2rem;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}

.footer__nav .nav__item {
    margin: 1rem;
}

.footer__nav .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__nav .nav__ul li {
    margin: 0.5rem 0;
}

.footer__nav .nav__ul li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.footer__nav .nav__ul li a:hover {
    color: #000000;
}

.legal {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 1rem;
    margin-top: 1rem;
}

.legal__links {
    font-size: 0.9rem;
    color: #000000;
}

.legal__links a {
    text-decoration: none;
    color: #000000;
    margin: 0 0.5rem;
}

.legal__links a:hover {
    color: #000000;
}

.heart {
    color: red;
}
.backimgs{
    position: absolute;
    width: 100%;
    height: 90vh;
}
.mail{
    position: absolute;
    
    width: 10%;
    transform: translate(70%,200%);

}
.mail img{
    width: 100%;
}
.playstore{
    position: absolute;
    
    width: 10%;
    transform: translate(800%,200%);
}
.playstore img{
    width: 100%;
}
.drive{
    position: absolute;
    width: 10%;
    transform: translate(250%,400%);

}
.drive img{
    width: 80%;
}
.docs{
    position: absolute;
    
    width: 10%;
    transform: translate(200%,0);

}
.docs img{
    width: 100%;
}
.news{
    position: absolute;
    
    width: 10%;
    transform: translate(600%,300%);

}
.news img{
    width: 100%;
}
.calender{
    position: absolute;
    
    width: 10%;
    transform: translate(700%,  0%);

}
.calender img{
    width: 100%;
}
.one{
    position: absolute;
    width: 10%;
    transform: translate(850%,  70%);
}
.one img{
    width: 100%;
}
.contacts{
    position: absolute;
    width: 10%;
    transform: translate(50%,70%);
}
.contacts img{
    width: 100%;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #DB4437, #F4B400);
    border-radius: 10px;
}
.loader{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(100px);
    background-color: rgb(221, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loaderimg{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}
.loader img{
    /* width: 20%;
    height: 20%; */
    opacity: 0;
    animation: loader 3s ease-in-out;
    z-index: 100;
}
@keyframes loader {
    0%{
        z-index: 1000;
        width: 5%;
        height: 5%;
        transform: rotate(180deg);
        opacity: 0;
    } 
    25%{
        z-index: 1000;
        width: 20%;
        height: 20%;
        transform: rotate(370deg);
        opacity: 1;
    }
    50%{
        z-index: 1000;
        width: 20%;
        height: 20%;
        transform: rotate(360deg);
        opacity: 1;
    }
    75%{
        z-index: 1000;
        width: 5%;
        height: 5%;
        transform: rotate(160deg);
        opacity: 1;
    }
    100%{
        z-index: 1000;
        width: 5%;
        height: 5%;
        transform: rotate(180deg);
        opacity: 0;
    }  
}
@media (max-width: 1000px) {
    body{
        width: 100%;
    }
    .header_main{
        width: 100%;
    }
    .header_main img{
        width: 10%;
        margin-left: 1%;
    }
    .backimgs{
        display: none;
    }
    .description{
        height: 220vh;
    }
    .why{
        width: 100%;
    }
    .span1, .span2, .span3, .span4{
        width: 75%;
    }
    .span1 h1,.span2 h1,.span3 h1,.span4 h1{
        font-size: 1rem;
    }
    .span1 span,.span2 span,.span3 span,.span4 span{
        font-size: 1.5rem;
    }
    .mem1,.mem2,.mem3,.mem4{
        width: 30%;
    }
    .leadimg{
        width: 45%;
    }
    .scrollimg{
        display: none;
    }
    .loaderimg{
        height: 30%;
    }
}
@media (max-width: 800px){
    .header_main img{
        width: 10%;
    }
    .description{
        height: 230vh;
    }
    .coreteam{
        flex-direction: column;
        align-items: center;
    }
    .mem1,.mem2,.mem3,.mem4{
        width: 50%;
    }
    .loaderimg{
        width: 100%;
        height: 40%;
    }
}
@media (max-width:500px){
    .text{
        font-size: 4rem;
    }
    .header_main img{
        width: 20%;
    }
    .description{
        height: 325vh;
    }
    .img1,.img2{
        display: none;
    }
    .mem1,.mem2,.mem3,.mem4{
        width: 70%;
    }
    .loaderimg{
        width: 100%;
        height: 30%;
    }
}
@media (max-width:390px){
    .header_main{
        flex-direction: column;
    }
    /* .options ul{
        flex-direction: column;
    } */
    .frontpage{
        margin-top: 30%;
    }
    .heading{
        align-items: center;
        justify-content: space-around;
    }
    .header_main img{
        padding: 0;
        width: 30%;
        height: 90%;
    }
    .description{
        height: 480vh;
    }
    .events{
        height: 60vh;
    }
    .loaderimg{
        width: 100%;
        height: 20%;
    }
}
